body {
    font-family: 'Roboto', sans-serif;
    margin-top: 70px;
    font-weight: 500;
}

.wrapper70 {
    width: 60%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.text_right {
    text-align: right;
}
.text_left {
    text-align: left;
}


/* NAVBAR */
.ms_navbar {
    z-index: 5;
    padding: 10px 0 ;
    margin-bottom: 0;
    border: none;
    background-color: white;
}
.ms_navbar img {
    height: 100%;
}
.ms_navbar .navbar-brand {
    padding: 10px 0;
    margin-right: 100px;
}
.ms_navbar .navbar-nav a {
    color: black;
    font-size: 16px;
    font-weight: 700;
}
.ms_navbar .navbar-nav a:hover {
    background-color: #004AFF;
    border-radius: 5px;
    color: white;
}
.ms_navbar .navbar-nav a:active {
    background-color: #004AFF;
    border-radius: 5px;
    color: white;
}
.ms_navbar .navbar-nav button {
    margin-top: 10px;
    font-weight: 700;
}
#getstarted button,
.ms_navbar .btn-default {
    color: #004AFF;
    border: 1px solid #004AFF;
}
.ms_navbar span {
    background-color: #004AFF;
}

/* JUMBOTRON */

#ms_jumbotron {
    background-image: url("../img/bg-banner-home.jpg");
    background-size: cover;
    color: white;
}
#ms_jumbotron h1 {
    font-size: 65px;
    margin-bottom: 20px;
}
#ms_jumbotron p {
    font-size: 23px;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 70px;
}
#ms_jumbotron .form-group input {
    font-size: 18px;
    border: 1px solid rgba(51, 51, 51, 0.1);
}
#ms_jumbotron button .btn-default {
    width: 100%;
}
#ms_jumbotron form img {
    height: 21px;
}
#ms_jumbotron form span:first-child {
    position: absolute;
    left: 7%;
    bottom: 21%;
}
#ms_jumbotron h5 {
    margin-top: 20px;
    font-size: 12px;
    color: black;
}
h5 a {
    text-decoration: underline;
}
.ms_lg_btn {
    height: 30px;
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 0;
    border: 1px solid rgba(51, 51, 51, 0.2);
    background-color: #579AFF;
}
.btn_white {
    background-color: white;
    color: grey;
}
.ms_text {
    margin-top: 70px;
}
.sing_up {
    position: relative;
    margin: 70px 0;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
    border-radius: 5px;
}
.sing_up h3:first-child {
    color: black;
}
.sing_up h3:nth-child(2) {
    margin-top: 0;
    color: #004AFF;
}

/* SPONSOR */
#sponsor {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F3F5F9;
    padding-bottom: 20px;
}
#sponsor a {
    font-size: 16px;
    color: #004AFF;
    font-weight: 500;
}
#sponsor img {
    margin-right: 10px;
    height: 125px;
    width: calc(50% - 15px);    
}
#sponsor h4 {
    text-transform: uppercase;
    padding: 25px 0;
    font-size: 16px;
}
#sponsor [class*="col-"] {
    padding: 0;
}

/* DEPLOY */
#deploy {
    padding-top: 100px;
    padding-bottom: 30px;
}
h2 {
    font-size: 36px;
}
#features h3,
#deploy h3 {
    font-size: 20px;
}
#designed p,
#deploy p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 50px;
}
#deploy .deploy_element p {
    height: 80px;
    font-size: 16px;
    margin-bottom: 20px;
}
#deploy .nav-pills a {
    color: grey;
    font-size: 20px;
}
#deploy .nav-pills li {
    margin: 0;
    border-left: 2px solid grey;
}

/* DESIGNED */
#designed {
    padding: 50px 0;
    background-color: #F3F5F9;
}
#designed img {
    display: inline-block;
    width: 80%;
}
#rockerbox .fa-angle-left,
#designed .fa-angle-left {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#rockerbox .fa-angle-right, 
#designed .fa-angle-right {
    font-size: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
#rockerbox .fa-circle,
#designed .fa-circle {
    font-size: 12px;
    color: #006AFF;
}

/* FEATURES */
#features {
    padding: 70px 0;
}
#features h2 {
    margin-bottom: 40px;
}
#features p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}
#features a {
    font-size: 17px;
    color: #006AFF
}

/* SERVICE */
#service {
    padding-top: 60px;
    color: white;
    background-image: linear-gradient(#0047C5, #001E9A);
}
.service_element {
    padding: 10px 0;
}
.service_element:not(:last-child) {
    border-bottom: 1px solid white;
}
.service_element::after {
    content: "";
    display: table;
    clear: both;
}
.service_element .text_left {
    color: rgba(255, 255, 255, 0.6);
}
#service .row .row {
    width: 98%;
    margin: 0 auto;
    margin-bottom: 25px;
}
.service_element a {
    color: #00D1D1;
}

/* ROCKERBOX */
#rockerbox {
    padding: 70px 0;
    background-color: #F3F5F9;
}
#rockerbox h2 {
    margin-bottom: 70px;
}
.rockerbox_element {
    width: 80%;
    padding: 50px 0;
    margin: 0 auto;
    background-color: white;
}
#rockerbox img {
    width: 60%;
}
#rockerbox p {
    font-size: 20px;
    margin: 15px 0;
    color: rgba(0, 0, 0, 0.6);
}
.rockerbox_element h5:nth-child(3) {
    margin: 5px 0;
    font-weight: bold;
}
.rockerbox_element h5:nth-child(4) {
    margin-top: 5px;
    margin-bottom: 40px;
}
.rockerbox_element a {
    color: #0040BA;
}
#rockerbox .fa-circle {
    padding-top: 40px;
}

/* GET STARTED */
#getstarted {
    text-align: center;
    padding: 60px 0;
    color: white;
    background-image: linear-gradient(#0047C5, #001E9A);
}
#getstarted button {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 15px;
}

/* FOOTER */
footer {
    padding: 60px 0;
    color: white;
    background-color: #031C4E;
}
footer .list_inline li {
    display: inline-block;
    margin-top: 15px;
    margin-right: 15px;
    text-decoration:  none;
    color: rgba(255, 255, 255, 0.6);
}
footer .ms_list {
    list-style: none;
}
footer .ms_list li {
    margin-top: 12px;
}
footer .ms_list li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}
footer p{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}
footer h4 {
    font-size: 20px;
}
footer h5 {
    font-size: 16px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.4);
}
footer ul {
    padding: 0;
}
footer .fab {
    font-size: 23px;
}



@media screen and (max-width: 992px) {
  
    #ms_jumbotron h1 {
        font-size: 37px;
    }
    .ms_navbar .navbar-brand {
        margin-right: 50px;
    }
    #ms_jumbotron p {
        padding-bottom: 0;
    }
    footer .ms_list li:first-child {
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) {
  
    #service .service_element span {
        font-size: 12px;
    }
    #deploy .deploy_element p {
        height: auto;
    }
    #deploy .deploy_element:first-of-type {
        margin-top: 30px;
    }
    #features img {
        margin-top: 30px;
    }
    .wrapper70 {
        width: 80%;
    }

    

}
@media screen and (max-width: 425px) {
  
    #service .service_element span {
        font-size: 10px;
    }
    

}